<head>
  <title>assetmanager</title>
</head>

<body>
</body>

<template name="layout">
	<div class="container-narrow {{pageName}}">

    <div class="masthead">
        <ul class="nav nav-pills pull-right">
            {{#each menuLinks}}
                {{#if visible}}
                    <li class="{{linkClass}}"><a href="{{url}}">{{title}}</a></li>
                {{/if}}
            {{/each}}
            <li >{{loginButtons}}</li>
        </ul>
        <h3 class="muted project-name">DeltaForce Robots Inc.</h3>
    </div>

    <hr>
    <div class="jumbotron">
        <div class="jumbotron-content">
            {{yield}}
        </div>
    </div>
    <hr>

    <div class="footer">
        <p>© DeltaForce Robots Inc. 2013</p>
    </div>

</div>
</template>

<template name="home">
        <h1>DeltaForce</h1>
        <p class="lead">Brilliant minds, shining robots.</p>
        <!-- <a class="btn btn-large btn-success" href="#">Sign up!</a> -->
</template>

<template name="register">
<h2>IT Assets Registration</h2>

            <form role="form">

                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="e.g iPad Air"/>
                </div>

                <div class="form-group">
                    <label for="location">Location/Office name</label>
                    <input type="text" class="form-control" id="location" placeholder="e.g Seattle">
                </div>

                <div class="form-group">
                    <label for="tag">Department</label>
                    <input type="text" class="form-control" id="department" placeholder="e.g Accounting">
                </div>

                <div class="form-group">
                    <label for="manufacturer">Manufacturer</label>
                    <input type="text" class="form-control" id="manufacturer" placeholder="e.g Siemens">
                </div>

                <div class="form-group">
                    <label for="manufacturer_part_number">Manufacturer Part Number</label>
                    <input type="text" class="form-control" id="manufacturer_part_number" placeholder="e.g SIE001TG-X">
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea type="text" class="form-control" id="description" placeholder="e.g Mac OS Snow Leopard 64bit"></textarea>
                </div>

                <div class="form-group">
                    <label for="maintenance_notes">Maintenance Notes</label>
                    <textarea type="text" class="form-control" id="maintenance_notes" placeholder="e.g This piece must be cleaned up with pure water from the sacred Tibet's fountain"></textarea>
                </div>


                <div class="form-group">
                    <label for="dateImplemented">Date Implemented</label>
                    <input type="text" class="form-control" id="dateImplemented"  />
                </div>


                <div class="form-group">
                    <label for="img">Image</label>
                    <input type="file" id="img">
                    <p class="help-block">File must not exceed 2MB.</p>
                </div>

                <div class="form-group button-group">
                    <button type="submit" class="register submit-button btn btn-large btn-success">Submit</button>
                </div>

            </form>
</template>

<template name="search_result">
    <div class="search-results">
        <div class="bs-callout bs-callout-info">
            <div class="col-sm-4">
                <a href="#" class="thumbnail">
                    <img class="search-thumb" src="{{imgUrl}}">
                </a>
            </div>
            <a href="/view/{{_id}}" ><h4>{{name}}</h4></a>
            <p>{{description}}</p>
        </div>
    </div>
</template>

<template name="search">
     <h2>Search</h2>
    <form class="form-search">
        <div class="input-append">
            <input type="text" class="span2 search-query">
            <!-- <button type="submit" class="btn"><i class="icon-search"></i></button> -->
        </div>
    </form>
    {{#isolate}}
        {{#each results}}
            {{> search_result}}
        {{/each}}
    {{/isolate}}
</template>

<template name="contact">
    <h2>Contact Us</h2>
</template>

<template name="view">
    <h2>{{asset.name}}</h2>

            <div class="info-section">

                <div class="col-sm-6 col-md-5 image-container">
                    <div class="thumbnail">
                        <img class="search-thumb" src="{{asset.imgUrl}}">
                    </div>
                </div>

                <div class="form-group">
                    <label >ID</label>
                    <p>{{asset._id}}</p>
                </div>

                <div class="form-group">
                    <label >Location/Office name</label>
                    <p>{{asset.location}}</p>
                </div>


                <div class="form-group">
                    <label>Department</label>
                    <p>{{asset.department}}</p>
                </div>

                <div class="form-group">
                    <label>Manufacturer</label>
                    <p>{{asset.manufacturer}}</p>
                </div>

                <div class="form-group">
                    <label>Manufacturer Part Number</label>
                    <p>{{asset.manufacturerPart}}</p>
                </div>


                <div class="form-group">
                    <label >Description</label>
                    <p>{{asset.description}}</p>
                </div>


                <div class="form-group">
                    <label>Maintenance Notes</label>
                    <p>{{asset.maintenanceNotes}}</p>
                </div>


                <div class="form-group">
                    <label>Date Implemented</label>
                    <p>{{asset.dateImplemented}}</p>
                </div>

            </div>
</template>