body {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    min-height: 470px;
    position: relative;
    padding-top: 15px;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.home .jumbotron {
    padding-left: 0;
    padding-right: 0;
}

.home .jumbotron-content
{
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -105px;
}




/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Background image */
body {

    background-image: url('/img/page-background.jpg');
    background-position:50% top;
    background-repeat:no-repeat;
    background-color:#fff;
    background-size: cover;
    background-attachment: fixed;

    color: #fff;
    height: 905px;
    text-align:center;
}


/* Brand */

.project-name
{
    line-height: 40px;
    text-align: left;
    text-indent: 5px;
}


/* Form */

form
{
    text-align: left;
}

textarea.form-control
{
    height:180px;
}

.form-control
{
    height: 40px;
}

.form-horizontal .left-column
{
    padding: 0;
}

.button-group
{
    text-align: center;
}

.register .button-group
{
    height: 50px;
}

.register .submit-button
{
    position: absolute;
    left: 50%;
    margin-left: -100px;
    bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

/* Datepicker */
.ui-datepicker
{
    background-color: rgba(0,0,0,0.8);
}

.ui-icon.ui-icon-circle-triangle-e, .ui-icon.ui-icon-circle-triangle-w {
    visibility: hidden;
}

.ui-icon.ui-icon-circle-triangle-e::after, .ui-icon.ui-icon-circle-triangle-w::after {
    content: ">";
    visibility: visible;
    font-weight: bold;
    right: 10;
    top: 20;
    position: absolute;
}

.ui-icon.ui-icon-circle-triangle-w::after {
    left: -120;;
    content: "<";
}

/* Form search */
.form-search button
{
    position: absolute;
    right: 0;
    top: 0;
    height: 51px;
    border-radius: 0 10px 10px 0;
    border: 2px inset;
    border-left:0;

}

.form-search .search-query
{
    width: 100%;
    border-radius: 10px;
}

.form-search .input-append
{
    position: relative;
}

.icon-search
{
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 40px;
    vertical-align: text-top;
    background-image: url("/img/glyphicons-halflings.png");
    background-repeat: no-repeat;
    margin-top: 1px;
    background-position: -68px -1px;
    background-size: 700px;
}

.info-section
{
    text-align: left;
}

/* Search results*/

.search-results
{
    text-align: left;
}

.bs-callout-info
{
    background-color: rgba(0,0,0,0.4);
    border-color: rgba(0,0,0,0.6);
    min-height: 210px;
}

.search-results a
{
    color: white;
    text-decoration: none;
}

.search-results a:hover
{
    color: white;
    text-decoration: underline;
}

/* Product */

.product label
{
    margin-bottom: 0;
}

.product .image-container
{
    float: right;
    margin-top: 10px;
}

.login-link-text
{
    line-height: 40px;
}

#login-dropdown-list {
    top: initial;
}

.accounts-dialog {
    border: 1px solid #777777;
    z-index: 1000;
    background: rgba(0,0,0,0.6);
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
    padding: 8px 12px;
    margin: -8px -12px 0 -12px;
    width: 198px;
    font-size: 16px;
    color: white;
    border:none;
}

#forgot-password-email-label-and-input
{
    color: black;
}